
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}